<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Vue Mastery</title>
	<link rel="stylesheet" href="./assets/styles.css" />
	<script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
</head>
<body>

<div id="app">
	<div class="cart">Cart({{ cart }})</div>

	<div class="product-display">
		<div class="product-container">
			<div class="product-image">
				<img v-bind:src="image" :class="{'out-of-stock-img': !inStock}">
			</div>
			<div class="product-info">
				<h1>{{ title }}</h1>

				<p v-if="inStock">In Stock</p>
				<p v-else>Out of Stock</p>

				<ul><li v-for="detail in details">{{ detail }}</li></ul>
				
				<div 	v-for="(variant, index) in variants" 
					 	:key="variant.id"
						class="color-circle"
						:style="{backgroundColor: variant.color}" 
						@mouseover="updateVariant(index)">
				</div>

				<button class="button" 
						:disabled="!inStock"
						:class="{disabledButton: !inStock}"
						v-on:click="addToCart">
						Add to Cart
				</button>
			</div>
		</div>
	</div>
</div>
<script src="./main.js"></script>

<!-- mount app -->
<script> const mountedApp = app.mount('#app'); </script>
</body>
</html>